/* wrapper to center whole document */
.main-wrapper {
	margin: 0 auto;
	width: 938px;
	height: 100%;
}
/* fix float issues */
.clear:after {
	content: "";
	display: table;
	clear: both;
}
/* general layout */
.logo,
.search {
	float: left;
}

.search-box,
.search-button {
	float: left;
}

.profile,
.profile-menu li {
	float: right;
}
/* menu */
.menu,
.menu-items a {
	float: left;
}
.notification-section,
.notifications,
.notifications span,
.notifications {
	float: right;
}

/*main feed*/
.left-feed,
.center-feed {
	float: left;
}
.right-feed {
	float: right;
}
.item-title {
	float: left;
}
.items img {
	float: right;
}
/* entry */
.profile-img,
.entry {
	float: left;
}

.feed-menu-left,
.feed-menu-items a {
	float: left;
}
.feed-menu-right {
	float: right;
}
/* footer */
.footer-menu ul li {
	float: left;
}
.copyright {
	float: right;
}
