/* navgination bar */
nav {
	width: 100%;
	height: 85px;
	background-color: #7dd8e8;
}
.nav-wrapper {
	max-height: 100%;
	max-width: 100%;
	padding: 20px 0px;
}
.search {
	padding: 20px 25px;
}
.search-box {
	width: 282px;
	height: 20px;
	background-image: url("../images/search.png");
	background-repeat: no-repeat;
}
.search-box input {
	border: none;
	background: none;
	outline: none;
	font-size: 10px;
	width: 222px;
	padding: 0 8px;
}
.search-box img {
	height: 8px;
	width: 8px;
}
.cross {
	cursor: pointer;
	padding-right: 3px;
	border-right: 1px solid #7dd8e8;
}
.search-icon {
	padding: 0;
	cursor: pointer;
}
.search-button {
	padding: 5px 8px;
	background-repeat: no-repeat;
	overflow: hidden;
	background-image: url("../images/search-btn.png");
	cursor: pointer;
}
.search-button:hover {
	background-image: url("../images/search-btn-hover.png");
}
.search-button h1 {
	color: white;
	font-size: 9px;
}
.profile {
	margin: 5px 2px 0 0;
	text-align: right;
	font-weight: bold;
}
.profile-name {
	font-size: 15px;
	margin-bottom: 7px;
}
.profile-menu li {
	font-size: 11px;
	padding: 0 5px;
	border-right: 1px solid #284f56;
}
.profile-menu li a:hover {
	text-decoration: underline;
}
.profile-menu li:first-child {
	padding-right: 0;
	border-right: 0px;
}
/* menu section */
.menu-section {
	height: 40px;
	background-color: #f5f5f5;
}

.menu-items a:hover {
	background-color: #eaeaea;
}
.menu-items a {
	padding: 12px 14px;
	font-size: 13.6px;
	font-weight: bold;
}
.notifications {
	padding: 12px 0 12px 28px;
	font-size: 11px;
	font-weight: bold;
}
.notifications span {
	cursor: pointer;
	color: #a9a9a9;
}
.notification-active span {
	color: #284f56;
}

.notifications img {
	height: 15px;
	width: 14px;
	margin-right: 8px;
}

/* feed section */
.feed-section {
	height: 604px;
	margin: 30px 0 33px 0;
}
.left-feed {
	width: 194px;
	height: 597px;
	background-color: #f5f5f5;
}
.tabs {
	padding: 12px;
	display: block;
}
.items {
	line-height: 15px;
}
.items:hover {
	background-color: #fff;
}
.item-title {
	width: 95px;
}
.items h1 {
	font-size: 10px;
}
.items .download {
	height: 12px;
	width: 14px;
	margin-top: 10px;
}
.items .anchor {
	height: 7px;
	width: 14px;
	margin-top: 5px;
}
.rs-2 .item-title {
	width: 140px;
}
.title {
	background-color: #2fc1da;
	color: #fff;
}
.right-feed {
	width: 176px;
	height: 597px;
}
.right-feed .tabs {
	padding-right: 5px;
}
.right-feed .items {
	height: 18px;
	padding-bottom: 5px;
}

.right-feed .item-title {
	width: 100%;
}
.left-feed,
.right-feed {
	background-color: #f5f5f5;
}

.center-feed {
	margin: 0 0 0 26px;
	width: 518px;
	height: 100%;
}
.feed-title-section {
	height: 33px;
	margin-bottom: 10px;
}
.feed-title-section h1 {
	margin-top: -10px;
	font-size: 32px;
	font-weight: normal;
}
.feed-menu-section {
	height: 65px;
	background: url("../images/entry-bg.png");
	border-bottom: 2px solid #2fc1da;
}
.feed-body-section {
	height: 507px;
}
.feed-menu-right,
.feed-menu-left {
	padding: 0 5px;
}
.feed-menu-items {
	margin-top: 12px;
}
.feed-menu-item {
	font-size: 12px;
	margin: 0 5px;
	padding: 10px 0px;
	display: block;
	text-align: center;
	width: 114px;
	background-repeat: no-repeat;
	background-image: url("../images/tab-bg.png");
}
.active,
.feed-menu-items a:hover {
	color: white;
	background-image: url("../images/tab-bg-active.png");
}
.entry-type {
	font-size: 13px;
	text-align: center;
	padding-top: 10px;
}
.entries {
	height: 70px;
	padding: 15px 0px;
	border-bottom: 2px solid #d8d8d8;
}
.profile-img {
	height: 70px;
	width: 70px;
	margin-right: 10px;
}
.entry h1 {
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 3px;
}
.entry-title p {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 7px;
	cursor: pointer;
}
.entry-info,
.topic-box-info {
	font-size: 11px;
}
.entry-info {
	margin-bottom: 5px;
}
.blue-highlight,
.green-highlight,
.red-highlight {
	font-weight: bold;
	cursor: pointer;
}
.blue-highlight {
	color: #2fc1da;
}
.green-highlight {
	color: #70961f;
}
.red-highlight {
	color: #d53f1a;
}

/* footer */

footer {
	height: 30px;
	background-color: #727272;
	padding-top: 15px;
}

.footer-menu ul li {
	padding-left: 10px;
	padding-right: 8px;
	background: url("../images/footer-list.png") 0 50% no-repeat;
}

.footer-menu ul li:first-child {
	background: none;
	padding-left: 0px;
}
.footer-menu ul li a {
	color: white;
	font-size: 10px;
}
.copyright {
	margin-top: 2px;
	color: white;
	font-size: 10px;
}
